@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1f2a2e;
  --color-bgPrimary: #ffffff;
  --color-bgAccent: #c1ff72;
  --color-bgSecondary: #f4f3ee;
  --color-primaryDark: #ffffff;
  --color-bgPrimaryDark: #1f2a2e;
  --color-bgSecondaryDark: #c1c5c6;
  --font-inter: "Inter", sans-serif;
  --animate-scroll: scroll 6s linear infinite;
  --animate-scrollLg: scroll 24s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@layer components {
  .card {
    @apply rounded-2xl relative;
  }
  .link {
    @apply text-primary font-medium hover:bg-bgAccent dark:text-primaryDark hover:text-primary  px-4 py-2 rounded text-center hover:cursor-pointer transition-all duration-100;
  }
  .btnBook {
    @apply text-primaryDark font-medium bg-primary dark:bg-bgSecondaryDark  px-3 py-2 rounded hover:text-bgAccent hover:cursor-pointer duration-75 shadow;
  }
  .btnSign {
    @apply text-primary font-medium  bg-bgAccent   px-3 py-2 rounded hover:bg-[#A8FF39] hover:cursor-pointer duration-75 shadow;
  }
  .pricing-card {
    @apply dark:bg-gray-600 rounded-2xl  flex md:flex-row gap-4 w-11/12 text-center flex-col  justify-between py-6 items-center dark:hover:bg-[#3C4E54] shadow-2xl hover:cursor-pointer px-8 transition-all duration-200 lg:w-4/5 m-auto  bg-bgPrimary   hover:bg-bgAccent;
  }
  .inputHero {
    @apply w-11/12 py-3  px-4 accent-bgAccent rounded focus:outline-0 border-2 dark:border-white border-primary/10 focus:border-bgAccent shadow placeholder-gray-400;
  }
  .btn-price {
    @apply dark:bg-primary dark:hover:bg-gray-100 hover:bg-bgPrimaryDark dark:hover:text-bgPrimaryDark transition-all duration-300 hover:text-primaryDark  hover:cursor-pointer px-4 py-2 rounded dark:text-bgPrimary bg-gray-100 font-medium text-bgPrimaryDark;
  }
  .checkbox {
    @apply appearance-none w-6 h-6 border-2 border-gray-400 rounded-sm bg-white
      checked:bg-bgAccent checked:before:text-primary checked:before:content-['✓']   checked:border-transparent checked:text-white;
  }

  .txt {
    @apply dark:text-primaryDark  text-primary;
  }
  img {
    @apply rounded-2xl;
  }
}
/* 
@layer base {
  he {
    @apply bg-red-300 text-2xl text-black p-4;
  }
}

@utility fl {
  @apply flex justify-center  items-center;
} */
